<p>Pozdrav {{ name }},</p>
<p>Hvala što ste se registrovali za našu uslugu. Da biste završili registraciju, molimo kliknite na  <a href="{{ url }}">link</a> ispod kako biste potvrdili svoju email adresu:</p>

<div style="display: flex; justify-content: center; width:100%; padding-left:40%;">
    <a href="{{ url }}" style=" border-radius: 8px; background-color: rgb(73, 73, 239); width: fit-content; color: white; text-decoration: none; font-size: 20px;  padding: 5px 13px;">Potvrdi</a>
</div>

<br>
<p style="margin: 0px;">S poštovanjem,</p>
<p style="margin: 0px;">Tim Moja klopica</p>

<br>
<br>
<p style="font-size: 12px;">Ukoliko niste zatražili ovaj mejl, možete ga ignorisati.</p>